:root {
    --color-gold: #C8A951;
    --color-gold-dark: #ac7322;
    --color-gold-active: #A68A2C;
    --color-brown: #6a4605;
    --color-beige: #e2bd0b54;
    --color-beige-2: #e2bd0b2b;
    --color-black: #1E1E1E;
    --color-black-active: rgba(0, 0, 0, 0.75);
    --color-white-1: #FFFFFF;
    --color-white-2: #F9F9F9;
    --color-white-3: #F2F2F2;
    --color-white-4: #B5B5B5;
    --color-white-5: #E5E5E5;
    --color-gray: #888484;

    --font-family-main: 'manrope', Arial, sans-serif;
    --font-family-secondary: 'Poppins', sans-serif;
}