@import url(fonts.css);
@import url(colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--page-background-color);
    font-family: var(--font-family-main);
    font-size: 16px;
}

body {
    color: var(--text-main-color);
}

p {
    line-height: 1.5em;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

ul {
    list-style: none;
}

a {
    color: var(--link-main-color);
    font-weight: 500;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
        color: var(--link-active-color);
    }
}

.header {
    background-color: var(--header-background-color);
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--header-border-color);
    height: 90px;

    nav {
        height: 100%;

        ul {
            display: flex;
            gap: 2rem;
            list-style: none;
            height: 100%;

            a {
                display: flex;
                height: 100%;
                align-items: center;
                text-decoration: none;
                font-weight: 500;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }

                &:hover img {
                    filter: brightness(120%);
                }
            }
        }
    }
}

.hero-banner {
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--banner-background-color);
    max-width: unset;
    margin: 0;

    h1 {
        font-size: 3.5rem;
        color: var(--banner-heading-color);
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        max-width: 700px;
        margin: 0 auto 2rem auto;
        color: var(--banner-text-color);
    }
}

section {
    margin: 3rem;
    display: grid;
    align-items: start;
    gap: 4rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

    h2,
    h3,
    h4 {
        color: var(--section-heading-color);
    }

    h2 {
        position: relative;
        padding: 0.5rem 1.5rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 100%;
            top: 0;
            left: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: var(--section-heading-color);
        }
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}

.side-left {
    position: sticky;
    top: calc(90px + 3rem);

    p {
        margin-bottom: 1rem;
        color: var(--section-description-color);
    }
}

.block {
    margin: 2rem;

    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .item {
        flex: 0 0 calc(100% / 4 - 2rem * 3 / 4);
        max-width: 190px;
        text-align: center;
        color: var(--grid-text-color);
        font-weight: 500;
        transition: color 0.3s;
        cursor: default;

        &:hover {
            color: var(--grid-text-hover-color);
        }

        .icon {
            display: inline-block;
            width: 60px;
            height: auto;
            margin-bottom: 1rem;
        }
    }
}

.data-list {
    display: grid;
    grid-template-areas:
        'one two three'
        'four four four';
    gap: 1rem .5rem;

    .item {
        border-radius: .75rem;
        text-align: center;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        position: relative;

        &:nth-child(1) {
            grid-area: one;
        }

        &:nth-child(2) {
            grid-area: two;
        }

        &:nth-child(3) {
            grid-area: three;
        }

        &:nth-child(4) {
            grid-area: four;
        }

        dt {
            color: var(--data-list-title-color);
            font-size: 1.25rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        dd {
            color: var(--data-list-text-color);
            font-size: 1.7rem;
            font-weight: 600;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
    }
}

.quote {
    display: block;
    max-width: 400px;
    margin: 2rem auto 1rem;
    position: relative;
    text-align: center;
    background-color: var(--quote-background-color);
    outline: 0.5rem solid var(--quote-outline-color);
    box-shadow: 0.6rem -0.6rem 0 0.5rem var(--quote-shadow-color);

    &::before,
    &::after {
        position: absolute;
        font-size: 4rem;
        color: var(--quote-quotes-color);
        width: 1rem;
        line-height: 1rem;
    }

    &::before {
        content: '“';
        left: -1rem;
        top: 1rem;

    }

    &::after {
        content: '”';
        right: -1rem;
        bottom: -1rem;
    }
}

/* .coins-list, */
.marked-list {
    li {
        margin-bottom: .75rem;
        padding-left: 1.75rem;
        position: relative;
        color: var(--list-text-color);

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.marked-list li::before {
    content: '\2713';
    font-size: 1.25rem;
    color: var(--list-icon-color);
    border: 2px solid var(--list-icon-border-color);
    border-radius: .25rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .coins-list li::before {
    background-image: url(coin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
} */

.marked {
    padding: 0.25rem 0 0.25rem 0.75rem;
    position: relative;
    margin-top: 2rem;

    &::before {
        content: '';
        background-color: var(--marked-text-color);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .team-list-item {
        flex: 1 1 calc(50% - 1rem);
        min-width: 250px;
        padding: 1rem;
        text-align: center;
        background-color: var(--team-item-background-color);
        border-radius: 0.75rem;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
        }

        .photo {
            margin-bottom: .5rem;

            img {
                object-fit: cover;
            }
        }
    }
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
    max-width: 700px;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .75rem;

    .input-item {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex: 0 0 100%;
        padding: 5px;
        overflow-x: hidden;

        &.-half {
            flex-basis: calc(50% - .25rem);
        }

        &.-third {
            flex-basis: calc(100% / 3 - .5rem * 2 / 3);
        }

        .label-wrapper,
        .input-wrapper {
            width: 100%;
        }

        label {
            font-weight: 600;
        }

        .separator {
            margin: 1rem auto;
            width: min-content;
            text-align: center;
            position: relative;
            color: var(--form-separator-text-color);
            line-height: 1em;

            &::after,
            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 50vw;
                background-color: var(--form-separator-background-color);
                position: absolute;
                top: 50%;
            }

            &::before {
                right: calc(100% + .5rem);
            }

            &::after {
                left: calc(100% + .5rem);
            }
        }

        input:not([type="file"]),
        select,
        textarea,
        button {
            padding: 0.8rem 1rem;
            border: 1px solid var(--form-input-border-color);
            border-radius: 6px;
            background-color: var(--form-input-background-color);
            color: var(--form-input-text-color);
            font-size: 1rem;
            transition: border 0.3s, box-shadow 0.3s;
            width: 100%;
            transition-property: border, box-shadow, background-color, color;
            transition-duration: 0.3s;
            font-family: var(--font-family-secondary);

            &::placeholder {
                color: var(--form-input-placeholder-color);
                filter: opacity(90%);
            }

            &:focus,
            &:hover {
                border-color: var(--form-input-hover-border-color);
                outline: none;
                box-shadow: 0 0 5px var(--form-input-hover-shadow-color);
            }
        }

        input[type="file"] {
            font-size: .75rem;

            &::file-selector-button {
                padding: 0.4rem .5rem;
                border-radius: 0.5rem;
                font-size: .75rem;
            }
        }

        input::file-selector-button,
        button {
            cursor: pointer;
            background-color: var(--form-button-background-color);
            color: var(--form-button-text-color);

            &:hover {
                background-color: var(--form-button-hover-background-color);
                color: var(--form-button-hover-text-color);
            }
        }

        textarea {
            resize: vertical;
            min-height: 5rem;
            max-height: 15rem;
            border-bottom-right-radius: 0;
        }
    }

    .note {
        flex-basis: 50%;
        font-size: .8rem;
        color: var(--form-note-color);
        font-family: var(--font-family-secondary);
        margin: 0;
    }
}

.emails-list {
    display: flex;
    gap: .5rem;

    dt {
        font-weight: 600;

        &::after {
            content: ':';
        }
    }
}

/* .locations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    width: max-content;
    max-width: 20rem;
    text-align: center;
    font-family: var(--font-family-secondary);

    .item {
        flex: 1 1 calc(50% - 1rem);

        &:nth-child(odd):not(:last-child) {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -1rem;
                width: 1px;
                background-color: var(--color-white-4);
            }
        }
    }
} */

.footer {
    background-color: var(--footer-background-color);
    padding: 1rem 2rem;
    border-top: 1px solid var(--footer-border-color);
    height: 90px;
    color: var(--footer-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .socials {
        display: flex;
        gap: 1rem;
    }
}